<div class="flex flex-row sm:flex-col">
  @for (num of numLeft(); let i = $index; track i) {
    <div>
      <button
        class="button-background m-2 flex cursor-pointer flex-col items-center justify-center rounded-md p-2 text-white hover:shadow-sm disabled:bg-gray-300 disabled:text-gray-500"
        [class]="[noteMode() ? 'note-mode' : '']"
        (click)="onNumberClick(i)"
        [disabled]="!num"
        type="button"
        tabindex="0"
      >
        <div class="text-2xl">{{ i + 1 }}</div>
        <div class="text-sm text-gray-200 disabled:text-gray-500">
          {{ num }}
        </div>
      </button>
    </div>
  }
</div>
