@import "tailwindcss";

.button-background {
  background-color: theme("colors.indigo.400");
}

.button-background:hover:not(:disabled) {
  background-color: theme("colors.indigo.500");
}
.button-background:active:not(:disabled) {
  background-color: theme("colors.indigo.600");
}
.button-background:focus:not(:disabled) {
  background-color: theme("colors.indigo.500");
}

.button-background.note-mode:not(:disabled) {
  background-color: theme("colors.emerald.400");
}
.button-background.note-mode:hover:not(:disabled) {
  background-color: theme("colors.emerald.500");
}
.button-background.note-mode:active:not(:disabled) {
  background-color: theme("colors.emerald.600");
}
.button-background.note-mode:focus:not(:disabled) {
  background-color: theme("colors.emerald.500");
}
