@if (open()) {
  <div
    class="absolute inset-0 flex items-center justify-center backdrop-blur-lg"
  >
    <dialog
      id="confirmation-dialog"
      class="relative w-96 rounded-lg bg-white p-6 text-center opacity-100 shadow-lg"
      [open]="open()"
    >
      <h2 class="mb-4 text-2xl font-bold">{{ title() }}</h2>
      <p class="mb-6 text-lg">
        {{ message() }}
      </p>
      <div class="flex justify-end gap-3">
        <button
          tabindex="0"
          (click)="onClose.emit()"
          class="rounded-sm border border-blue-500 bg-white px-4 py-2 text-blue-500 hover:bg-blue-200 focus:bg-blue-200"
        >
          Close
        </button>
        <button
          class="rounded-sm bg-linear-to-tr from-teal-300 to-indigo-300 px-4 py-2 text-white hover:from-teal-500 hover:to-indigo-500 focus:from-teal-500 focus:to-indigo-500"
          (click)="onConfirm.emit()"
        >
          Confirm
        </button>
      </div>
    </dialog>
  </div>
}
