@if (solved() && originalPuzzle() && !loading() && !mainMenuOpen()) {
  <app-puzzle-nav
    [timeElapsed]="timeElapsed()"
    (navToHome)="reset(false)"
  ></app-puzzle-nav>
}
<main class="h-screen w-full">
  @if (solved() && originalPuzzle() && !loading() && !mainMenuOpen()) {
    <div [attr.inert]="isVictoryDialogOpen() ? true : ''">
      <app-sudoku-table
        [originalTable]="originalPuzzle()!"
        [solvedTable]="solved()!"
        [noteTable]="noteTable()"
        [table]="table()!"
        (updateTable)="updateTable($event)"
        (toggleNoteTable)="toggleNoteTable($event)"
      ></app-sudoku-table>
    </div>
  } @else if (!loading() && mainMenuOpen()) {
    <h1 class="mb-4 text-center text-4xl font-bold">Sudoku</h1>
    <div class="flex h-full flex-col items-center justify-center gap-4">
      @if (originalPuzzle()) {
        <button
          tabindex="0"
          [disabled]="loading()"
          class="cursor-pointer rounded-sm bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 px-4 py-2 font-bold text-white hover:from-purple-500 hover:via-pink-600 hover:to-red-600 focus:from-purple-600 focus:via-pink-700 focus:to-red-700 disabled:bg-gray-200 disabled:text-stone-700"
          (click)="mainMenuOpen.set(false)"
        >
          Continue Puzzle
        </button>
      }
      <button
        tabindex="0"
        [disabled]="loading()"
        class="cursor-pointer rounded-sm bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:bg-blue-700 disabled:bg-gray-200 disabled:text-stone-700"
        (click)="openPuzzle('easy')"
      >
        Solve Easy Puzzle
      </button>
      <button
        tabindex="0"
        [disabled]="loading()"
        class="cursor-pointer rounded-sm bg-green-500 px-4 py-2 font-bold text-white hover:bg-green-700 focus:bg-green-700 disabled:bg-gray-200 disabled:text-stone-700"
        (click)="openPuzzle('medium')"
      >
        Solve Medium Puzzle
      </button>
      <button
        tabindex="0"
        [disabled]="loading()"
        class="cursor-pointer rounded-sm bg-yellow-500 px-4 py-2 font-bold text-white hover:bg-yellow-700 focus:bg-yellow-700 disabled:bg-gray-200 disabled:text-stone-700"
        (click)="openPuzzle('hard')"
      >
        Solve Hard Puzzle
      </button>
      <button
        tabindex="0"
        [disabled]="loading()"
        class="cursor-pointer rounded-sm bg-red-500 px-4 py-2 font-bold text-white hover:bg-red-700 focus:bg-red-700 disabled:bg-gray-200 disabled:text-stone-700"
        (click)="openPuzzle('expert')"
      >
        Solve Expert Puzzle
      </button>
    </div>
  } @else if (loading()) {
    <div class="flex h-full items-center justify-center">
      <div
        class="loader h-32 w-32 rounded-full border-8 border-t-8 border-gray-200 ease-linear"
      ></div>
    </div>
  } @else {
    <p>Solved: {{ solved() | json }}</p>
    <p>Original Puzzle: {{ originalPuzzle() | json }}</p>
    <p>Main menu open: {{ mainMenuOpen() }}</p>
    <p>Loading: {{ loading() }}</p>
    <p>Hash: {{ hash() | json }}</p>
  }
  <app-victory-dialog
    [open]="isVictoryDialogOpen()"
    (onRestart)="reset()"
    (onClose)="showVictoryDialog.set(false)"
  ></app-victory-dialog>
  <app-confirmation-dialog
    [open]="confirmationDialogOpen()"
    [title]="confirmationTitle()"
    [message]="confirmationMessage()"
    (onConfirm)="confirmReset()"
    (onClose)="confirmationDialogOpen.set(false)"
  ></app-confirmation-dialog>
</main>

<router-outlet />
