<header
  class="flex w-full items-center justify-between gap-6 px-6 py-2 dark:bg-gray-800"
>
  <div class="flex items-center gap-4">
    @if (difficulty()) {
      <div
        [class]="
          cn('rounded-xl border px-2 py-0.5 font-semibold uppercase', {
            'border-emerald-800 bg-emerald-950 text-green-500':
              difficulty() === 'easy',
            'border-amber-800 bg-amber-950 text-amber-500':
              difficulty() === 'medium',
            'border-rose-700 bg-red-950 text-rose-600': difficulty() === 'hard',
            'bg-black text-white': difficulty() === 'expert',
          })
        "
        id="difficulty"
      >
        {{ difficulty() }}
      </div>
    }
  </div>
  <div class="flex items-center gap-4">
    <div class="font-bold dark:text-white" id="timer">
      {{ timeString() }}
    </div>
    @if (isCollaboration()) {
      <button
        tabindex="0"
        class="cursor-pointer rounded-sm bg-gradient-to-br from-purple-500 to-indigo-500 px-4 py-2 font-bold text-white transition-all duration-300 hover:from-purple-600 hover:to-pink-600"
        (click)="shareCollaborationLink()"
      >
        Share Game
      </button>
    } @else {
      <button
        tabindex="0"
        class="cursor-pointer rounded-sm bg-gradient-to-br from-purple-500 to-indigo-500 px-4 py-2 font-bold text-white transition-all duration-300 hover:from-purple-600 hover:to-pink-600"
        (click)="collaborate.emit()"
      >
        Collaborate
      </button>
    }
    <button
      tabindex="0"
      class="cursor-pointer rounded-sm border border-gray-600 px-4 py-2 font-bold text-gray-600 hover:bg-gray-100 dark:border-gray-100 dark:text-gray-100 dark:hover:bg-gray-500"
      (click)="navToHome.emit()"
    >
      Back
    </button>
  </div>
</header>
