<div class="flex gap-3 text-gray-700 sm:flex-col sm:gap-0 dark:text-gray-300">
  <button
    class="mb-4 flex cursor-pointer flex-col items-center rounded-md p-1 text-xs hover:bg-gray-100 dark:hover:bg-gray-600"
    (click)="erase.emit()"
    tabindex="0"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="mb-2 h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z"
      />
    </svg>

    Erase
  </button>
  <button
    tabindex="0"
    class="mb-4 flex cursor-pointer flex-col items-center rounded-md p-1 text-xs hover:bg-gray-100 dark:hover:bg-gray-600"
    (click)="undo.emit()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="mb-2 h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
      />
    </svg>

    Undo
  </button>
  <button
    tabindex="0"
    class="mb-4 flex cursor-pointer flex-col items-center rounded-md p-1 text-xs hover:bg-gray-100 dark:hover:bg-gray-600"
    [class]="noteMode() ? 'text-emerald-400' : ''"
    (click)="noteMode.set(!noteMode())"
    [attr.aria-pressed]="noteMode()"
    (keydown.space.prevent)="noteMode.set(!noteMode())"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="mb-2 h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
      />
    </svg>
    Pencil
  </button>
  <button
    data-testid="quick-pencil-button"
    tabindex="0"
    class="flex cursor-pointer flex-col items-center rounded-md p-1 text-xs hover:bg-gray-100 dark:hover:bg-gray-600"
    (click)="quickPencil.emit()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="mb-2 h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
      />
    </svg>
    Quick Pencil
  </button>
</div>
