name: Deploy to Firebase Hosting on PR
on:
  pull_request:
    paths:
      - "frontend/**"
permissions:
  checks: write
  contents: read
  pull-requests: write
defaults:
  run:
    working-directory: ./frontend
jobs:
  build_and_preview:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci --force && npm run build --force
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_SUDOKU_6FBD2 }}
          projectId: sudoku-6fbd2
          entryPoint: ./frontend
